*{
    margin: 0;
    padding: 0;
    
}



.face_1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.face{
    box-shadow: 0px 2px 6px black;
    width: 700px;
}   

.card{
    background-color: black;
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.posts_img{
    height: 40px;
    width: 40px;
}

.posts{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.why{
    background-color: black;
    color: white;
}

.yeh{
    color: grey;
}

.jude{
    color: grey;
}

.come{
    display: flex;
}

.meet{
    background-color: rgb(238, 232, 232);
}

.camp{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.back{
    box-shadow: 0px 3px 4px 0px;
    width: 700px;
}

.living{
    margin: 10px;
    box-sizing: 600px;
}

.left_container{
    width: 600px;
}

.right_container{
    width: 500px;
}

.teen{
    background-color: rgb(185, 179, 179);
    display: flex;
}

.title{
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 10px;
    background-color: darkgray;
}

.fire{
    background-color: black;
    color: white;
}


table{
    border-radius: 1px solid grey;
}
